@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
} 

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

header {
    background-color: #f1f1f1;
    width: 100%;
    z-index:1000;
    position: fixed;
}

.header-right {
    float: right;
}

 /* mengatur background navbar */
nav {
    background-color: #F1F1E8;
    padding: 5px;
    top: 0;
    height: 70px;
    text-align: center;
    padding-left: 60px;
    padding-right: 120px;
}

.kategori {
    overflow: hidden;
}

.kategori-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.kategori-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
}

.show {
    display: block;
}


 /* mengatur posisi navbar dengan inline */
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif; 
}

@media screen and (max-width: 868px) {
    nav li {
        display: block;
        float: none;
        padding-bottom: 20px;
    }

    nav {
        height: auto;
        text-align: center;
        padding-bottom: 50px;
    }

    .header-right {
        float: none;
    }

    nav li .search {
        float: none;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        position:relative;
     }

    header {
        position: relative;
    }

 }

 /* mengatur warna teks pada navbar */
 nav a, .dropkategori {
     cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
 }

nav a.active,
nav a:hover, 
.dropkategori:hover {
    color: #206A5D;
}

.search {
    padding:8px 15px;
    background: #E0E1E1;
    border: none;
    border-radius: 8px;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
}


.jumbotron {
    float: left;
    width: 67%;
    background: #BFDCAE;
    padding: 180px 150px 150px 150px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}

.jumbotron p.heading {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

button {
    margin-top: 35px;
    display: inline-block;  
    border-radius: 4px;  
    border: none;  
    text-align: center;  
    font-size: 16px;  
    transition: all 0.5s;  
    cursor: pointer;  
    margin-right: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron button {
    padding: 10px;  
    width: 160px;  
    background-color: #206A5D;  
    color: #FFFFFF;  
}

@media screen and (max-width: 415px) {
    .jumbotron button {
        display: block; 
    }
}

.jumbotron button a {
    text-decoration: none;
    color: #BFDCAE;
}

aside {
    float: right;
    width: 33%;
    background: #BFDCAE;
    padding-top: 180px;
    height: 100vh;
    line-height: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000000;
}

aside h3 {
     text-align: center;
     padding-top: 30px;
}

aside img {
    display: flex;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .jumbotron{
        width: 100%;
        padding: 120px 20px 20px 60px;
        height: 500px;
    }

    aside {
        width: 100%;
        padding: 80px 20px 20px 30px;
        height: 400px;
    }
}

main {
    background: #ffffff;
}


#content {
    padding: 30px 80px;
}

.section-heading{
    font-family:'Roboto Condensed', sans-serif;
    text-align:center;
    position:relative;
}

.grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    align-items: center;
}

.grid > article {
     border: 1px solid #ccc;
     box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
     text-align: center;
}

.grid > article img {
    width: 100%;
}

.text {
     padding: 0 20px 20px;
}

.grid > article button {
    padding: 5px;
    margin: 10px;  
    width: 80px;
    background-color:  #BFDCAE;  
    color: #206A5D;  
}

button:hover {
    border: 2px solid #000000;
}

@media (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .grid > article {
        text-align: center;
    }
}

#content > .view {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#content > .view button {
    padding: 5px;
    margin: 25px;  
    width: 100px;
    background-color: #206A5D ;  
    color: #BFDCAE; 
    font-size: 17px;
}

#tentang {
    padding: 150px 80px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 250px;
    align-items: center;
    text-align: center;
    background: #bfdcaeff;
    line-height: 25px;
}

@media (max-width: 768px) {
    #tentang{
        grid-template-columns: repeat(1, 1fr);
        padding: 80px 80px;
        grid-gap: 30px;
    }
}

@media (max-width: 970px) {
    #tentang{
        grid-template-columns: repeat(1, 1fr);
        padding: 80px 80px;
        grid-gap: 30px;
    }
}

footer {
    padding: 10px;
    color: #BFDCAE;
    background-color: #206A5D;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
}